@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);

/*************************
*******Reset******
**************************/
body {
  padding-top: 100px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #64686d;
  line-height: 26px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #272727;
}
a {
  color: #e2b02a;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #A00303;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 44px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #e2b02a;
}
.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 3px;
}
.btn.btn-primary {
  background: #e2b02a;
  border-color: #A00303;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #A00303;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #e2b02a;
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #e2b02a;
}

/*************************
*******Header******
**************************/
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
.navbar-nav .search a, .navbar-nav .search a:hover{
    border-radius: 40px;
    background: #e2b02a !important;
    padding: 15px 16px !important;
    margin-top: 23px;
    color: #fff !important;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    right: 15px;
    font-size: unset !important;
}
.top-top-header{
    text-align: right;
    padding-top: 20px;
    margin-right: 2px;
}
.top-top-header .email{
    color: #aaa;
}
.top-top-header .lang.active{
  color: #e2b02a;
}
.top-top-header .lang{
    color: #000;
    font-size: 17px;
    font-weight: 600;
}
#main-menu.navbar-default .navbar-nav > li.active > a, #main-menu.navbar-default .navbar-nav > li.open > a, #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    padding-top: 37px;
    border-top: 3px solid #e2b02a;
}
@media only screen and (min-width: 768px) {
  #main-menu.navbar-default {
    background: rgba(255, 255, 255);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  }
  #main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 18px;
  }
  #main-menu.navbar-default .navbar-nav > li.active > a,
  #main-menu.navbar-default .navbar-nav > li.open > a,
  #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    padding-top: 37px;
    border-top: 3px solid #e2b02a;
  }
  #main-menu.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-menu.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-menu.navbar-default .dropdown-menu > li > a {
    border-top: 1px solid #404455;
    padding: 15px 0;
    color: #eeeeee;
  }
  #main-menu.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-menu.navbar-default .dropdown-menu > li.active,
  #main-menu.navbar-default .dropdown-menu > li.open,
  #main-menu.navbar-default .dropdown-menu > li:hover {
    border-left-color: #e2b02a;
  }
  #main-menu.navbar-default .dropdown-menu > li.active > a,
  #main-menu.navbar-default .dropdown-menu > li.open > a,
  #main-menu.navbar-default .dropdown-menu > li:hover > a {
    color: #e2b02a;
    background-color: transparent;
  }
}
#main-slider {
  overflow: hidden;
}
#main-slider .item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
#main-slider .slider-inner h2 {
  margin-top: 180px;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}
#main-slider .slider-inner h2 > span {
  color: #e2b02a;
}
#main-slider .slider-inner .btn {
  margin-top: 10px;
}
#main-slider .owl-prev,
#main-slider .owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100px;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}
#main-slider .owl-prev:hover,
#main-slider .owl-next:hover {
  background-color: #e2b02a;
}
#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}
#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #e2b02a;
}
#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

#about {
  padding: 50px 0 0px;
}
#services{
  background: #ecf3f0 !important;
  padding: 60px 0 75px;
}
#services li span{
  position: relative;
  left: -10px;
}
#services li span, #services p{
  font-size: 15px;
  text-transform: initial;
  color: #2b2e34;
  font-weight: 500;
  vertical-align: middle;
}
#services .services-row ul li{
  list-style-position: inside;
  color: #000;
  text-indent: -10px;
  margin-bottom: 30px;
}
.services-row li:before {
  content: "";
  display: inline-block;
  margin-left: -15px;
  
}
#services .services-row{
  margin-top: 50px;
}
#services img{
  width: 80px;
}
#services .seeder{
  margin-top: 30px;
}
#services .seeds{
  width: 80%;
  display: inline-block;
  border-bottom: 6px dotted #000;
  margin-bottom: -16px;
}
.products-list{
  margin-top: 30px;
}
.products-list .product{
  overflow: hidden;
  background-position: bottom center !important;
}
.products-list .product:hover .move{
  top: 0;
  background: #ffffff;
}
.products-list .product, .products-list .move{
  height: 320px;
}
.products-list .outline{
  border: 1px solid #f0f0f0;
}
.products-list .body{
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.products-list .title{
  text-align: center;
  font-size: 23px;
  color: #000;
  font-weight: 500;
  padding: 20px;
}
.outline.main-des{
  border-left: none;
  border-top: none;
}
.products-list .move{
  top: 255px;
  position: relative;
  transition: ease-in .3s;
  background: #ffffffc5;
}
#about h1, #services, h1, #products h1, #contactz h1{
  font-size: 35px;
  text-transform: uppercase;
}
#about h3{
  color: #e2b02a;
  font-weight: normal;
  margin-top: 30px;
  display: inline-block;
  margin-bottom: 30px;
  line-height: 40px;
}
#about p{
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.about-image{
  background-image: url('../images/about/image2.png');
  background-repeat: no-repeat;
  background-position: 260% 30%;
  height: 920px;
}
.about-image .paragraph{
  background: #ffffff5c;
}

.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  width: 95%;
  height: 1px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #e2b02a;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}

/***********************
********* Footer ******
************************/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #ddd;
  color: #a9a9a9;
  text-align: center;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #e2b02a;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer ul > li {
  display: inline-block;
  margin: 0 7.5px;
}
@media screen and (max-width: 414px) {
  #services .seeds {
    width: 46%;
  }
}
@media only screen and (min-width: 768px) {
  #footer .social-icons {
    float: right;
  }
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}


.right-menu{
  border-bottom: 2px solid #e2b02a;
  display: flow-root;
}

#partners{
  margin-top: 50px;
}
.owl-buttons {
  display: none;
}
.owl-carousel:hover .owl-buttons {
  display: block;
}

.owl-item {
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  color: #869791;
  font-size: 40px;
  line-height: 130px;
  margin: 0;
  padding: 0 0px;
  position: absolute;
  top: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
  padding-left: 20px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  padding-right: 20px;
}

#owl-partners img{
  opacity: .3;
  transition: ease-in .5s;
}

#owl-partners img:hover{
  opacity: 1;
}

#contactz{
  margin: 7% 0px 0px;
  height: 400px;
}
#contactz .box{
  margin-left: 14%;
  width: 100%;
  display: inherit;
}
#contactz i.fa{
  margin-right: 10px;
}
#contactz p{
  color: #2b2e34;
  font-size: 16px;
  line-height: 45px;
  font-weight: 500;
}

.split {
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  float: left;
}
#contactz form{
   max-width: 500px; 
}
@media screen and (max-width: 767px){
  .split{
    width: 100%;
  }
  #contactz .box {
    margin-left: 4%;
    width: 90%;
  }
  #subscribe {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
  }
  #subscribe img{
    margin-bottom: 20px;
  }
  .top-top-header{
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 999px){
  #contactz form{
   max-width: 100%; 
  }
  .about-image {
    background-position: unset;
  }
  .split{
    width: 100%;
  }
  #services .seeds{
    width: 74%;
  }
  #contactz .box {
    margin-left: 4%;
    width: 90%;
  }
  #subscribe {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
  }
  #subscribe img{
    margin-bottom: 20px;
  }
  .top-top-header{
    display: none;
  }
}

.split.left{
  background: #ecf3f0;
}
.split.right{
  background: #fff;
}


.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: transparent;
  color: #2b2e34;
  min-width: 50px;
  text-align: center;
  font-size: 22px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom:1px solid #ecf3f0;
}

/* Set a style for the submit button */
.btn {
  background-color: #fff;
  color: #000;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border: 1px solid #e2b02a;
}

.btn:hover {
  opacity: 1;
  background: #e2b02a;
  color: #fff;
}

.up{
  background: #e2b02a;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 7%;
  z-index: 9991;
  color: #fff;
  border-radius: 30px;
  padding: 10px 15px;
  bottom: 10%;
  cursor: pointer;
  display: none;
}

.subscribe .title{
  font-size: 20px;
  color: #2b2e34;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.subscribe .body{
  margin-bottom: 10px;
  color: #2b2e34;
}

.subscribe input{
  border: none;
  border-bottom:3px solid #ddd;
}

#subscribe{
  margin-top: 50px;
  margin-bottom: 50px;
}

.collapse.show {
  visibility: visible;
}

/* .navbar-fixed-top, .navbar-fixed-bottom{ */
  /* position: absolute !important; */
/* } */